@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Main.css" rel="stylesheet" />

<body data-ng-app="ApplicationModule">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>GAMUT</h3>
                <strong>GT</strong>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="index">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>
                @*<li>
                    <a href="add">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                </li>*@
                <li>
                    <a href="general">
                        <i class="glyphicon glyphicon-link"></i>
                        General
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        SO/Cond/Approvals
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Interest Rate
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Financials
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Security Details
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Reports / Documents
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Inspection Comments
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Ratings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Restructing / Rescheduling
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        SMA Catagorisation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Irregularities Snapshot
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        External Sources
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Activity Logs
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Misc Information
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Download Reports
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        Account Details
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style="width:100%">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle</span>
                        </button>
                    </div>
                    <div class="container-fluid" >
                           <ul class="nav navbar-nav navbar-collapse" >
                               <li><h3> Inegrated Banking Solution</h3></li>
                           </ul>
                        </div>

                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">

                            @*<li><input type="text" class="form-control" placeholder="Search"></li>
                            <li><button type="submit" class="btn btn-default">Search</button></li>*@
                            <li><a href="#"> Logout</a></li>
                        </ul>

                    </div>

                </div>
            </nav>
            <div >
            <div data-ng-view></div>
                </div>
        </div>

    </div>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>

    <script src="~/GamutSPA/Script/App.js"></script>

    <script type="text/javascript" src="@Url.Content("~/GamutSPA/Script/Controllers/ShowController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/GamutSPA/Script/Controllers/AddController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/GamutSPA/Script/Controllers/EditController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/GamutSPA/Script/Controllers/DeleteController.js")"></script>
<script type="text/javascript" src="@Url.Content("~/GamutSPA/Script/Controllers/GeneralController.js")"></script>
    <script src="~/GamutSPA/Script/Services.js"></script>

}
